
@import 'styles/mixins.sass'

@function vw($value, $size: 1920)
  @return $value / $size * 100vw

.blue
    color: var(--blue)

.menu
    &__icons
        display: flex
        gap: 10px
    &__icon-wrapper
        min-width: 50px
        min-height: 50px
        &:hover
            cursor: pointer
    &__icon
        width: 100%
    &__user-icon
        content: url('/assets/icons/user-icon.svg')
    &__menu-icon
        content: url('/assets/icons/menu-icon.svg')
    &__user-icon-popup
        content: url('/assets/icons/user-icon__popup.svg')
    &__menu-close-icon
        content: url('/assets/icons/menu-close-icon__popup.svg')



.menu-popup
    top: 0
    padding: 20px 15px
    @include font-400
    position: absolute
    transition: 0.8s
    right: -100vw

.popup-btns
    display: flex
    flex-direction: column
    gap: 20px
    padding-bottom: 40px
    font-size: 18px
    &__btn
        padding-top: 15px
        padding-bottom: 15px
        min-width: 288px
        border-radius: 8px
        color: #fff
    &__lk
        background-color: var(--dark-blue)
        border: 2px solid #fff
    &__reg
        background-color: var(--blue)
        border: none

.popup-hat, .popup-navbar
    font-size: 24px

.popup-hat
    display: flex
    justify-content: space-between
    padding-bottom: 20px
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)

.popup-navbar
    padding-top: 40px
    padding-bottom: 40px

.popup-navbar-list
    display: flex
    flex-direction: column
    gap: 25px

.popup-socials
    display: flex
    gap: 20px
.popup-social-wrapper
    width: 35px
    height: 35px
.popup-social
    width: 100%
    opacity: 0.7

.fb-social
    content: url('/assets/icons/facebook-logo.svg')
.vk-social
    content: url('/assets/icons/vk-logo.svg')
.ig-social
    content: url('/assets/icons/instagram-logo.svg')

.popup-links
    display: flex
    flex-direction: column
    opacity: 0.8
    font-size: 11px

.popup-bottom
    display: flex
    justify-content: space-between
    padding-top: 20px
    padding-bottom: 20px
    border-top: 1px solid rgba(255, 255, 255, 0.4)
    align-items: center

.navbar



.header
    background-color: #fff
    position: fixed
    top: 0
    left: 0
    width: 100%
    &__container
        margin: 0 auto
        display: flex
        color: var(--dark-blue)
        align-items: center
        justify-content: space-between
        min-height: 85px
    &__logo
        max-width: 72px

.logo-mobile
    display: block
    max-width: 72px
    line-height: 24px
    @include font-700


.menu-open
    right: 0