@media screen and (min-width: 220px) {
  .header__logo {
    font-size: 24px;
    line-height: 24px;
  }
  .auth-btns {
    display: none;
  }
  .navbar {
    display: none;
  }
  .menu-popup {
    position: fixed;
    color: #fff;
    background-color: var(--dark-blue);
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    font-size: 24px;
    line-height: 24px;
  }
  .menu__icons {
    display: none;
  }
  .auth-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 769px) {
  .menu-popup {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .header__logo {
    font-size: 30px;
    line-height: 30px;
  }
}