:root {
    --blue: #2644AD;
    --dark-blue: #312D70;
    --sky: #EFFEFF;
    --light-sky: #f8faff;

    --border-radius: 8px;

    --font-size-14: 14px;
    --font-size-18: 18px;
    --font-size-48: 48px;

}