@import 'styles/reset.css';
@import 'styles/fonts.css';
@import 'styles/vars.css';
@media screen and (min-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    padding-left: 170px;
    padding-right: 170px;
  }
}